.global-wrap{
    display: flex;
}
.wrap{
    display: flex;
    margin: 35px 0px 35px 35px;
}
label{
    height: 34px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
}
input{
    width: 300px;
    height: 34px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-left: 7px;
    padding-left: 5px;
}
::placeholder {
    font-style: italic;
    font-weight: 300;
    color: #BDBDBD;
    display: flex;
    align-items: center;
}
.button{
    position: absolute;
    right: 0;
    width: 160px;
    height: 34px;
    margin: 35px 66px 35px 0px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #E0E0E0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}