<div class="cols">
    <div class="card" *ngFor="let i of ii">
        <a routerLink="">
            <div class="title">
                Beginning Programming with Java For Dummies (For Dummies (Computer/Tech))
            </div> 
        </a>
        <div class="author">Nathan Clark</div>
        <div class="publisher">CreateSpace Independent Publishing Platform</div>
        <div class="wrapper">
            <div class="price">156.38 $</div>
            <div class="add-button">Add to cart</div>    
        </div>
    </div>    
</div>
