<div class="global-wrap">
    <div class="wrap">
        <label for="title-filter">Filter by title:</label>
        <input id="title-filter" [(ngModel)]="titleTerm" (input)="triggerFilter()" placeholder="input book title">
    </div>

    <div class="wrap">
        <label for="author-filter">Filter by author:</label>
        <input id="author-filter" [(ngModel)]="authorTerm" (input)="triggerFilter()" placeholder="input author's name">
    </div>

    <div routerLink="/add" class="button">Add new book</div>
</div>
    

<div class="cols">
    <div class="card" *ngFor="let book of books | paginate: config">
        <div routerLink="/detail/{{book.id}}" class="title">
            {{book.title}}
        </div> 
        <div class="author">{{book.author}}</div>
        <div class="publisher">{{book.publisher}}</div>
        <div class="wrapper">
            <div class="price">{{book.price | currency}}</div>
            <div class="add-button" (click)="add(book)">Add to cart</div>    
        </div>
    </div>    
</div>

<pagination-controls class="pgcontrols" (pageChange)="pageChange($event)"></pagination-controls>


