<app-control-panel></app-control-panel>
<div class="cols">
    <div class="card" *ngFor="let book of books">
        <div routerLink="/detail/{{book.id}}" class="title">
            {{book.title}}
        </div> 
        <div class="author">{{book.author}}</div>
        <div class="publisher">{{book.publisher}}</div>
        <div class="wrapper">
            <div class="price">{{book.price | currency}}</div>
            <div class="add-button" (click)="add(book)">Add to cart</div>    
        </div>
    </div>    
</div>
