a{
    cursor: pointer;
}
.cols{
    display: flex;
    flex-flow: row wrap;
    margin: 35px 35px;
}
.card{
    width: 240px;
    height: 230px;
    background-color: #c4c4c4;
    border-radius: 7px;
    margin: 0 9px 12px 9px;
    display: flex;
    flex-direction: column;
}
.card:hover{
    background-color: #E8B3B3;
}
.title{
    background-color: #fff;
    border-radius: 10px;
    margin: 12px 13px;
    padding: 0px 10px;
    width: 194px;
    height: 71px; 
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.author, .publisher{
    width: 194px;
    height: 31px;
    background-color: #fff;
    border-radius: 10px;
    font-style: italic;
    font-size: 14px;
    margin: 0px 13px 11px 13px;
    padding: 1px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.publisher{
    font-style: normal;
    line-height: 15px;
}
.wrapper{
    margin: 0px 13px 14px 13px;
    display: flex;
}
.price{
    width: 79px;
    height: 33px;
    margin-right: 10px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.remove-button{
    width: 125px;
    height: 33px;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EB5757;
    color: #F2F2F2;
    border-radius: 10px;
    cursor: pointer;
}
.empty{
    margin: 35px auto auto 35px;
}
.info{
    margin-bottom: 25px;
    font-size: 36px;
}
.button-wrap{
    display: flex;
    margin: 45px;
}
.button{
    margin-right: 50px;
    width: 200px;
    height: 34px;
    color: #4F4F4F;
    background: #E0E0E0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}