<div *ngIf="book" class="global-wrap">
    <div class="main-info">
        <div class="title">
            {{ book.title }}
        </div>
        <div class="author">
            by {{ book.author }}
        </div>
        <div class="description">
            {{ book.description }}
        </div>
    </div>
    <hr class="line">
    <div class="detail-label">
        Product details
    </div>
    <div class="details">
        <div class="detail">
            <b>Publisher: </b> {{ book.publisher }}
        </div>
        <div class="detail">
            <b>ISBN: </b> {{book.isbn}}
        </div>
        <div class="detail">
            <b>Language: </b> {{ book.language }}
        </div>
        <div class="detail">
            <b>Weight: </b> {{book.weight}} g
        </div>
        <div class="detail">
            <b>Publishing year: </b> {{book.year}}
        </div>
        <div class="detail">
            <b>Number of pages: </b> {{book.pagesAmount}}
        </div>
        <div class="detail">
            <b>Price: </b> {{book.price | currency }}
        </div>
    </div>
    <div class="button-panel">
        <div class="button" (click)="back()">Back</div>
        <div class="button" (click)="add(book)">Add to cart</div>
        <div routerLink="/cart" class="button" (click)="add(book)">Buy</div>
        <div routerLink="/dashboard" class="danger" (click)="delete(book.id)">Delete</div>
    </div>
</div>
<div class="empty" *ngIf="!book">
    <div class="info">
        Book not found
    </div>
    <div class="button" (click)="back()">Back</div>
</div>
