<div class="header">
    <div class="header__label-wrapper">
        <div routerLink="/dashboard" class="header__label">
            Book store
        </div>
    </div>
    <div class="header__elem-wrapper">
        <div routerLink="/cart" class="header__buy-button">
            <div class="counter">
                {{ this.bookService.counter }}
            </div>
        </div>
        <div class="header__acc-info-wrapper">
            <div class="header__acc-info-avatar"></div>
            <div class="header__acc-info-name">
                {{name}}
            </div>
        </div>
        <div class="header__logout-button"></div>
    </div>
</div>