<div class="header">
    <div class="header__label-wrapper">
        <div routerLink="/" class="header__label">
            Book store
        </div>
    </div>
    <div class="header__elem-wrapper">
        <a href="#"><div class="header__buy-button"></div></a>
        <div class="header__acc-info-wrapper">
            <div class="header__acc-info-avatar"></div>
            <div class="header__acc-info-name">
                {{name}}
            </div>
        </div>
        <a href="#"><div class="header__logout-button"></div></a>
    </div>
</div>